body {
  font-family: 'montserratregular';
  margin: 0 auto;
}

.menu {
  display: flex;
  text-align: center;
  padding: 0 689px;
  margin: 49px 0 25px 16px;
}

.menu__item {
  position: relative;
  margin: 0 -23px 19px 66px;
  font: 800 17px/20px Gilroy, Roboto, arial, helvetica, sans-serif;
  white-space: nowrap;
  word-spacing: -2px;
  color: #585858;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item_btn {
  display: inline-block;
  font: 800 20px/24px 'montserratregular', arial, helvetica, sans-serif;
  color: #fff;
  background: #330099;
  padding: 12px 30px 10px 29px;
  margin: -16px 0 4px 67px;
  text-decoration: none;
  border-radius: 50px;
  transition: opacity 0.5s;
  animation-duration: 0.3s;
  animation-name: slidein;
}

.container {
  background: no-repeat url(img/imgnout.jpg);
  padding: 19.8vw 0 16.6vw 116vw;
}

.container__title {
  font: 900 40px/47px 'montserratregular', arial, helvetica, sans-serif;
  margin: -135px 362px 0 -62.2vw;
  text-align-last: end;
}

.container__subtitle {
  font: bold 32px/37px 'montserratregular', arial, helvetica, sans-serif;
  color: #fff;
  margin: 12px 361px 0 -48.5vw;
  text-align-last: end;
}

.advantage {
  columns: 3;
  column-gap: 4vw;
  margin: -74px 123px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  width: auto;
  height: 747px;
  background: #F9F9F9;
  display: inline-block;
  margin-top: -6vw;
}

.section__title_what {
  font: 900 30px/37px 'montserratregular', arial, helvetica, sans-serif;
  text-align: center;
  color: #585858;
  margin: 6vw 28vw;
  display: flex;
}

.advantage__heart {
  background: 8.6vw 0.4vw no-repeat url(img/imgicon1.svg);
}

.advantage__title_heart {
  font: 900 30px/37px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 119px 52px 0px 18px;
  text-align: center;
}

.advantage__subtitle_heart {
  font: 500 20px/24px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 14px 44px -23px 6px;
  letter-spacing: 0.17ex;
  text-align: center;
}

.advantage__price {
  background: 8.7vw 0.5vw no-repeat url(img/imgicon2.svg);
}

.advantage__title_price {
  font: 900 30px/37px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 122px 30px 20px 75px;
  text-align: center;
}

.advantage__subtitle_price {
  font: 500 20px/24px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 30px -48px 13px 0;
  letter-spacing: 0.17ex;
  text-align: center;
}

.advantage__good {
  background: 13.7vw 2.7vw no-repeat url(img/imgicon3.svg);
}

.advantage__title_good {
  font: 900 30px/37px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 155px 30px 0 90px;
  text-align: center;
}

.advantage__subtitle_good {
  font: 500 20px/24px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 11px 2px 14px 71px;
  letter-spacing: 0.15ex;
  text-align: center;
}

.advantage__btn {
  display: inline-block;
  font: 800 20px/24px 'montserratregular', arial, helvetica, sans-serif;
  color: #ffda45;
  background: #330099;
  padding: 21px 34px 21px 35px;
  margin: 82px 0 45px 547px;
  text-decoration: none;
  border-radius: 50px;
  transition: opacity 0.5s;
  animation-duration: 0.3s;
  animation-name: slidein;
}

.skills__title {
  font: 900 30px/37px 'montserratregular', arial, helvetica, sans-serif;
  text-align: center;
  color: #585858;
  margin: 9.1vw 43.8vw 3.7vw;
  display: flex;
}

.skills__title_comp {
  font: 600 30px/37px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  text-align: -webkit-left;
  margin: 4vw 37vw 0 23vw;
  letter-spacing: 0.05em;
}

.skills__subtitle_comp {
  font: 500 20px/24px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 9px 674px 25px 332px;
  text-align: -webkit-left;
  letter-spacing: 0.07em;
}

.skills {
  background: 9vw 6.3vw no-repeat url(img/img1.svg);
}

.skills__title_js {
  font: 600 30px/37px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  text-align: end;
  margin: 5.5vw 23vw 0 37.4vw;
  padding: 28px 0 8px;
  letter-spacing: 0.04em;
}

.skills__subtitle_js {
  font: 500 20px/24px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0 329px 25px 663px;
  padding: 0 0 21px;
  text-align: end;
  letter-spacing: 0.07em;
}

.skills__js {
  background: 78.8vw 0.3vw no-repeat url(img/img2.svg);
}

.skills__title_react {
  font: 600 30px/37px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  text-align: -webkit-left;
  margin: 5.3vw 42vw 0 23vw;
  padding: 15px 0 0;
  letter-spacing: 0.04em;
}

.skills__subtitle_react {
  font: 500 20px/24px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 9px 725px 35px 332px;
  padding: 0 0 35px;
  text-align: -webkit-left;
  letter-spacing: 0.07em;
}

.skills__react {
  background: 9vw 0.3vw no-repeat url(img/img3.svg);
}

.article {
  background: 43.4vw 9.3vw rgba(51, 0, 153, 0.12) no-repeat url(img/img4.svg);
  width: auto;
  height: 858px;
}

.form__title {
  font: 900 30px/37px 'montserratregular', arial, helvetica, sans-serif;
  text-align: center;
  color: #585858;
  margin: 4.5vw 40.8vw 0.7vw 41vw;
  padding: 4.2vw 0 0 0;
  display: flex;
}

.form__subtitle {
  font: 600 20px/24px 'montserratregular', arial, helvetica, sans-serif;
  text-align: center;
  color: #585858;
  margin: 18vw 37vw 0.7vw 37vw;
  letter-spacing: 0.03em;
}

.form__btn_name,
.form__btn_namber,
.form__btn_email {
  display: flex;
  font: 600 15px/18px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  background: #fff;
  padding: 22px 15px 19px 39px;
  margin: 39px 39.6vw -9px 39.6vw;
  text-decoration: none;
  border-radius: 50px;
  transition: opacity 0.5s;
  animation-duration: 0.3s;
  animation-name: slidein;
}

.input {
  border: 0px;
  outline: none;
  font: 600 15px/18px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  letter-spacing: 0.03em;
}

.form__item_send {
  display: flex;
  font: 900 20px/24px 'montserratregular', arial, helvetica, sans-serif;
  color: #fff;
  background: #4ab272;
  padding: 24px 86px 24px 90px;
  margin: 50px 572px 0 573px;
  text-decoration: none;
  border-radius: 50px;
  transition: opacity 0.5s;
  animation-duration: 0.3s;
  animation-name: slidein;
}

.footer__txt {
  background: #330099;
  width: auto;
  height: 43%;
}

.footer__txt_title {
  display: flex;
  font: 400 20px/23px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  margin: -8.1vw 36.9vw;
  padding: 60px 0 0 2px;
}

.footer__txt_school {
  display: flex;
  font: 400 20px/23px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  margin: 18.9vw 41.9vw;
  padding: 0 0 0 7px;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__linkedin,
.social__instagram,
.social__facebook {
  display: flex;
  margin: 103px 50px -47px 50px;
}

@media (max-width: 320px) {
.skills__title_js,
.skills__subtitle_js,
.skills__title_react,
.skills__subtitle_react,
.menu__item,
.social__linkedin,
.social__instagram,
.social__facebook {
  display: none;
}

.menu {
  display: flex;
  text-align: center;
  margin: 9px 0 25px 16px;
}

.menu__item_btn {
  display: inline-block;
  font: 800 8px/10px 'montserratregular', arial, helvetica, sans-serif;
  color: #fff;
  background: #330099;
  padding: 5px 11px 5px 11px;
  margin: 7px 0 -7px -164.7vw;
  text-decoration: none;
  border-radius: 50px;
  transition: opacity 0.5s;
  animation-duration: 0.3s;
  animation-name: slidein;
}

.container {
  background: no-repeat url(img/imgmob.svg);
  padding: 31.8vw 0 16.1vw 84.3vw;
  text-align: -webkit-center;
}

.container__title {
  font: 900 20px/24px 'montserratregular', arial, helvetica, sans-serif;
  text-align: center;
  margin: -24vw 10vw -4vw -65vw;
}

.container__subtitle {
  font: bold 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #fff;
  letter-spacing: 0.05em;
  margin: 4vw 28px 27vw -53vw;
}

.section {
  background: #f9f9f9;
  width: 320px;
  height: 907px;
}

.section__title_what {
  font: 900 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 14vw 11vw 11vw 10vw;
}

.advantage {
  width: 320px;
  display: inline;
}

.advantage__heart {
  background: 42vw 0vw no-repeat url(img/heart.jpg);
}

.advantage__title_heart {
  font: 900 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: -5vw 24vw 1vw 24vw;
  padding: 18vw 0px 0vw 0vw;
}

.advantage__subtitle_heart {
  font: 500 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0vw 16vw 11vw 16vw;
}

.advantage__price {
  background: 42vw 0vw no-repeat url(img/pig.png);
}

.advantage__title_price {
  font: 900 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0 17vw 0 17vw;
  padding: 18vw 17vw 0;
}

.advantage__subtitle_price {
  font: 500 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  text-align: center;
  margin: 5px 26px 0 26px;
}

.advantage__good {
  background: 40vw 0vw no-repeat url(img/medal.png);
}

.advantage__title_good {
  font: 900 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 10vw 17vw 0 18vw;
  padding: 18vw 7vw 0vw 7vw;
}

.advantage__subtitle_good {
  font: 500 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  text-align: center;
  margin: 1vw 15vw 0vw 15vw;
}

.advantage__btn {
  display: inline-block;
  font: 800 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #ffda45;
  background: #330099;
  text-decoration: none;
  border-radius: 50px;
  transition: opacity 0.5s;
  animation-duration: 0.3s;
  animation-name: slidein;
  margin: 5vw 0vw 17vw 9vw;
  padding: 5.3vw 5.3vw 5.3vw 7vw;
}

.skills__title {
  font: 900 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  margin: 8vw 34vw 0vw 34vw;
}

.skills__title_comp {
  font: 600 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 69vw 15vw 0 15vw;
}

.skills__subtitle_comp {
  font: 500 14px/17px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  text-align: center;
  margin: 3vw 23vw 11vw 21vw;
  padding-bottom: 14vw;
}

.skills {
  background: 22.4vw 17vw no-repeat url(img/JPG4.png);
}

.skills__comp {
  background: 38.4vw 58.2vw no-repeat url(img/scroll.png);
}

.article {
  background: rgba(51, 0, 153, 0.12) 23vw 22vw no-repeat url(img/img4.svg);
  width: auto;
  height: 635px;
}

.form__title {
  font: 900 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  display: flex;
  margin: 0 28vw 0 30vw;
  padding-top: 10vw;
}

.form__subtitle {
  font: 600 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  letter-spacing: 0.03em;
  margin: 69.5vw 12vw 6vw;
}

.form__btn_name,
.form__btn_namber,
.form__btn_email {
  display: flex;
  font: 600 10px/12px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  background: #fff;
  margin: 7.3vw 9vw -1.7vw 10vw;
  padding: 4.9vw 7vw 3.9vw 7vw;
  text-decoration: none;
  border-radius: 50px;
  transition: opacity 0.5s;
  animation-duration: 0.3s;
  animation-name: slidein;
}

.input {
  border: 0px;
  outline: none;
  font: 600 10px/12px 'montserratregular', arial, helvetica, sans-serif;
  color: #585858;
  letter-spacing: 0.03em;
}

.form__item_send {
  display: flex;
  font: 900 16px/20px 'montserratregular', arial, helvetica, sans-serif;
  color: #fff;
  background: #4ab272;
  margin: 11.9vw 9vw 9vw 10vw;
  padding: 5vw 22vw 5vw 26vw;
  text-decoration: none;
  border-radius: 50px;
  transition: opacity 0.5s;
  animation-duration: 0.3s;
  animation-name: slidein;
}

.footer__txt {
  background: #330099;
  height: 23%;
  width: auto;
}

.footer__txt_title {
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  margin: -37vw 9vw;
  padding: 10vw 20vw 10vw 13vw;
  text-align: center;
}

.footer__txt_school {
  font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  margin: 58vw 24vw 0vw 25.6vw;
  padding: 0vw 0vw;
}

.social__mob {
  margin-top: 24vw;
}

.social__linkedin_mob,
.social__instagram_mob,
.social__facebook_mob {
  margin: 0vw 13vw 0vw 10vw;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  margin: -3vw 0 0 77vw;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #330099;
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  text-align: center;
  top: 0;
  left: -100%;
  width: 320px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: #f7f63abd;
  list-style: none;
  font: 900 18px/26px 'montserratregular', arial, helvetica, sans-serif;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu__item_box {
  display: block;
  padding: 12px 24px;
  color: #1170a7;
  font: 900 19px/26px 'montserratregular', arial, helvetica, sans-serif;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item_box:hover {
  background-color: #cfd8dc;
}
}
