body {
  font-family: 'montserrat';
  margin: 0 auto;
}

.menu {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu__item {
  font: 800 1.2vw/1.4vw Gilroy, Roboto, arial, helvetica, sans-serif;
  white-space: nowrap;
  padding: 0 0.6vw;
  color: #585858;
  margin: 2.2vw 0.6vw 2vw 1vw;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item_btn {
  font: 800 1.4vw/2vw 'montserrat', arial, helvetica, sans-serif;
  color: #fff;
  background: #330099;
  padding: 0.8vw 2.1vw 0.6vw 2vw;
  margin: 1vw 9vw 1vw 1.7vw;
  text-decoration: none;
  border-radius: 3.2vw;
}

.container {
  background: no-repeat url(img/imgnout.jpg);
  padding: 7.9vw 0 10.6vw 100vw;
  background-size: cover;
}

.container__title {
  font: 900 2.8vw/3.5vw 'montserrat', arial, helvetica, sans-serif;
  margin: 2.5vw 9vw 0 -46.2vw;
  text-align-last: end;
}

.container__subtitle {
  font: 2vw/2.4vw 'montserrat', arial, helvetica, sans-serif;
  color: #fff;
  margin: 0.6vw 7.9vw 0 -32.7vw;
  text-align-last: end;
}

.section {
  width: 100%;
  background: #F9F9F9;
}

.section__title_what {
  font: 900 2.1vw/2.4vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin-bottom: 3vw;
  padding-top: 6.3vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.section__advantage_column {
  columns: 3;
  column-gap: 4vw;
  margin: 0 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.advantage-heart {
  background: 9.4vw 0.4vw no-repeat url(img/imgicon1.svg);
}

.advantage-title_heart {
  font: 900 2.2vw/2.7vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 8.3vw 1.2vw 0 1vw;
  text-align: center;
}

.advantage-subtitle_heart {
  font: 500 1.4vw/1.7vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0.8vw 2vw 0 1vw;
  text-align: center;
}

.advantage-price {
  background: 9.5vw 0.5vw no-repeat url(img/imgicon2.svg);
}

.advantage-title_price {
  font: 900 2vw/2.7vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 8.5vw 6vw 2vw 7vw;
  text-align: center;
  justify-content: flex-start;
  display: flex;
}

.advantage-subtitle_price {
  font: 500 1.4vw/1.6vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 2vw 0vw 0vw 1.5vw;
  text-align: center;
  justify-items: center;
  align-items: center;
  display: flex;
}

.advantage-good {
  background: 10.3vw 0.7vw no-repeat url(img/imgicon3.svg);
}

.advantage-title_good {
  font: 900 2.1vw/2.7vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 8.4vw 7vw 0 7vw;
  text-align: center;
}

.advantage-subtitle_good {
  font: 500 1.4vw/1.7vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0.7vw 2vw 0vw 2vw;
  text-align: center;
}

.advantage-btn_les {
  display: flex;
  font: 800 1.4vw/1.8vw 'montserrat', arial, helvetica, sans-serif;
  color: #fff;
  background: #330099;
  padding: 1.4vw 2.2vw 1.4vw 2.2vw;
  margin: 6.7vw 38vw 12.5vw 38vw;
  text-decoration: none;
  border-radius: 3.2vw;
  justify-content: center;
  align-items: flex-start;
}

.section__skills_img {
  background: 9vw 6vw no-repeat url(img/img1.svg);
}

.skills__title {
  font: 900 2.1vw/2.5vw 'montserrat', arial, helvetica, sans-serif;
  text-align: center;
  color: #585858;
  margin: 9.1vw 1.8vw 3.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__title_comp {
  font: 600 2.1vw/2.6vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  text-align: -webkit-left;
  margin: 3vw 37vw 0 23vw;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.skills__subtitle_comp {
  font: 500 1.4vw/1.7vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0.6vw 46vw 5vw 23.2vw;
  text-align: -webkit-left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section__skills_js {
  background: 78.8vw 0.3vw no-repeat url(img/img2.svg);
}

.skills__title_js {
  font: 600 2.1vw/2.6vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  text-align: end;
  margin: 5.5vw 23vw 0 37.4vw;
  padding: 2.1vw 0vw 0.3vw 0vw;
}

.skills__subtitle_js {
  font: 500 1.4vw/1.9vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0 22.4vw 2.2vw 46vw;
  padding: 0 0 1.6vw 0;
  text-align: end;
}

.section__skills_react {
  background: 9vw 0vw no-repeat url(img/img3.svg);
}

.skills__title_react {
  font: 600 2.1vw/2.6vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  text-align: -webkit-left;
  margin: 5.3vw 42vw 0 23vw;
  padding-top: 1vw;
}

.skills__subtitle_react {
  font: 500 1.4vw/1.7vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0.5vw 50vw 4.2vw 23.2vw;
  padding-bottom: 2.4vw;
  text-align: -webkit-left;
}

.article {
  background: 43.4vw 9.6vw rgba(51, 0, 153, 0.12) no-repeat url(img/img4.svg);
  width: 100%;
}

.form__title {
  font: 900 2.1vw/2.9vw 'montserrat', arial, helvetica, sans-serif;
  text-align: center;
  color: #585858;
  margin: 0vw 41vw 0vw 40vw;
  padding-top: 4.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__subtitle {
  font: 600 1.4vw/1.6vw 'montserrat', arial, helvetica, sans-serif;
  text-align: center;
  color: #585858;
  margin: 18vw 37vw 0.7vw 37vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__btn_name,
.form__btn_namber,
.form__btn_email {
  display: flex;
  background: #fff;
  padding: 1.6vw 1.1vw 1.2vw 3vw;
  margin: 2.8vw 39.6vw -0.7vw 39.6vw;
  text-decoration: none;
  border-radius: 3.2vw;
}

.input {
  border: 0vw;
  outline: none;
  font: 600 1vw/1.3vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
}

.form__item_send {
  display: flex;
  font: 900 1.5vw/1.6vw 'montserrat', arial, helvetica, sans-serif;
  color: #fff;
  background: #4ab272;
  padding: 1.7vw 6.4vw 1.7vw 6.2vw;
  margin: 3.3vw 39.4vw 4vw 39.4vw;
  text-decoration: none;
  border-radius: 3.2vw;
}

.footer {
  background: #330099;
  width: 100%;
}

.footer__txt_title {
  display: flex;
  font: 400 1.4vw/1.7vw Roboto, arial, helvetica, sans-serif;
  color: #fff;
  margin: 0;
  padding-top: 3.8vw;
  justify-content: center;
}

.footer__txt_school {
  display: flex;
  font: 400 1.4vw/1.4vw Roboto, arial, helvetica, sans-serif;
  color: #fff;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding-left: 0;
  padding-top: 5.4vw;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7vw;
  padding-top: 1.3vw;
  flex-direction: row;
}

.social__linkedin,
.social__instagram,
.social__facebook {
  display: flex;
  margin: 0;
}

.social__mob,
.menu__box,
.hamburger-menu {
  display: none;
}

@media (max-width: 3567px) {

a.menu__item:focus:hover {
  background: #ffff00;
  border-radius: 1.6vw;
}

a.menu__item_btn:hover {
  color: #ffff00;
}

a.advantage-btn_les:hover {
  color: #ffff00;
  background: #6495ed;
}

a.form__item_send:hover {
  background: #00ff7f;
  color: #ffff00;
}

.section__skills_img {
  background: 9vw 15vw no-repeat url(img/img1.svg);
  background-color: white;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;

  }

.article {
  background: 46.4vw 9.6vw rgba(51, 0, 153, 0.12) no-repeat url(img/img4.svg);
  width: 100%;
  padding-bottom: 4.1vw;
}

.footer__txt_school {
  display: flex;
  font: 400 1.4vw/1vw Roboto, arial, helvetica, sans-serif;
  color: #fff;
  margin: 2.9vw 41.9vw;
  padding-left: 0.6vw;
  padding-top: 3.3vw;
  padding-bottom: 5vw;
}
}


@media (max-width: 1920px) {
  .menu {
    margin: 2.3vw 8.4vw 2.4vw 47.1vw;
  }

  .menu__item {
    padding: 0 1.6vw;
    margin: 1vw 1vw 0.5vw 0vw;
    font: 800 1.2vw/1.5vw Gilroy, Roboto, arial, helvetica, sans-serif;
  }

  .menu__item_btn {
    font: 800 1.4vw/2vw 'montserrat', arial, helvetica, sans-serif;
    padding: 0.7vw 2.4vw 0.6vw 2.1vw;
    margin: 0vw 0vw 0vw 0.3vw;
  }

  .container {
    padding: 10vw 0 10.6vw 100vw;
  }

  .container__title {
    font: 900 2.8vw/3.5vw 'montserrat', arial, helvetica, sans-serif;
    margin: 0.5vw 8.2vw 0 -45.8vw;
  }

  .container__subtitle {
    font: bold 2.3vw/2.5vw 'montserrat', arial, helvetica, sans-serif;
    margin: 0.4vw 8vw 0 -32.7vw;
  }

  .section {
    width: 100%;
  }

  .section__title_what {
    font: 900 2.1vw/2.2vw 'montserrat', arial, helvetica, sans-serif;
    margin: 0vw 0vw 3.8vw 0vw;
    padding-top: 6.5vw;
  }

  .advantage-title_heart {
    font: 900 2.2vw/2.7vw 'montserrat', arial, helvetica, sans-serif;
    margin: 7.7vw 2.2vw 0 1vw;
  }

  .advantage-subtitle_heart {
    font: 500 1.4vw/1.7vw 'montserrat', arial, helvetica, sans-serif;
    margin: 0.8vw 2vw 0 0vw;
  }

  .advantage-title_price {
    font: 900 2vw/2.7vw 'montserrat', arial, helvetica, sans-serif;
    margin: 7.7vw 7vw 1.5vw 7vw;
  }

  .advantage-subtitle_price {
    font: 500 1.4vw/1.6vw 'montserrat', arial, helvetica, sans-serif;
  }

  .advantage-title_good {
    font: 900 2.1vw/2.7vw 'montserrat', arial, helvetica, sans-serif;
    margin: 8vw 7vw 0 6.8vw;
  }

  .advantage-subtitle_good {
    font: 500 1.4vw/1.6vw 'montserrat', arial, helvetica, sans-serif;
    margin: 0.6vw 2vw 0 2vw;
  }

  .advantage-btn_les {
    font: 800 1.4vw/1.7vw 'montserrat', arial, helvetica, sans-serif;
  }

  .section__skills_img {
    background: 9vw 15vw no-repeat url(img/img1.svg);
    background-color: white;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;

  }

  .skills__title {
    font: 900 2.2vw/2.4vw 'montserrat', arial, helvetica, sans-serif;
    margin: 4.1vw 1.8vw 3.7vw;
  }

  .skills__title_comp {
    font: 600 2.1vw/2.7vw 'montserrat', arial, helvetica, sans-serif;
  }

  .skills__subtitle_comp {
    font: 500 1.4vw/1.7vw 'montserrat', arial, helvetica, sans-serif;
  }

  .section__skills_js {
    background: 79.8vw 2.3vw no-repeat url(img/img2.svg);
  }

  .skills__title_js {
    font: 600 2.1vw/2.4vw 'montserrat', arial, helvetica, sans-serif;
    padding: 2.4vw 0vw 0.3vw 0vw;
  }

  .skills__subtitle_js {
    font: 500 1.4vw/2vw 'montserrat', arial, helvetica, sans-serif;
  }

  .section__skills_react {
    background: 9vw 1.3vw no-repeat url(img/img3.svg);
  }

  .skills__title_react {
    font: 600 2.1vw/2.3vw 'montserrat', arial, helvetica, sans-serif;
  }

  .skills__subtitle_react {
    font: 500 1.4vw/1.8vw 'montserrat', arial, helvetica, sans-serif;
  }

  .article {
    background: 45.4vw 9.6vw rgba(51, 0, 153, 0.12) no-repeat url(img/img4.svg);
    padding-bottom: 4.1vw;
  }

  .form__title {
    font: 900 2.1vw/2.4vw 'montserrat', arial, helvetica, sans-serif;
    margin: 1vw 40.8vw 1vw 40vw;
  }

  .form__subtitle {
    font: 600 1.4vw/2.1vw  'montserrat', arial, helvetica, sans-serif;
    margin: 18vw 36vw 0.7vw 36vw;
  }

  .form__btn_name,
  .form__btn_namber,
  .form__btn_email {
    font: 600 1vw/1vw 'montserrat', arial, helvetica, sans-serif;
    margin: 2.3vw 39.6vw 0.3vw 39.6vw;
  }

  .input {
    font: 600 1.1vw/1vw 'montserrat', arial, helvetica, sans-serif;
  }

  .form__item_send {
    font: 900 1.5vw/1.9vw 'montserrat', arial, helvetica, sans-serif;
    margin: 2.4vw 39.2vw 2.4vw 39.6vw;
  }

  .footer {
    background: #330099;
    width: 100%;
  }

  .footer__txt_title {
    display: flex;
    font: 400 1.4vw/1.3vw Roboto, arial, helvetica, sans-serif;
    color: #fff;
    margin: -2.1vw 36vw 0vw 36.2vw;
    padding-top: 4vw;
  }

  .footer__txt_school {
    display: flex;
    font: 400 1.4vw/1vw Roboto, arial, helvetica, sans-serif;
    color: #fff;
    margin: 2.9vw 41.9vw;
    padding-left: 0.6vw;
    padding-top: 3.3vw;
    padding-bottom: 5vw;
  }

  .social__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 2vw;
    column-gap: 8vw;
  }

  .social__linkedin,
  .social__instagram,
  .social__facebook {
    display: flex;
  }

  .social__mob,
  .menu__box,
  .hamburger-menu {
    display: none;
  }

}

@media (max-width: 1440px) {
  .menu {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 1vw;
  }

  .menu__item {
    font: 800 1.2vw/1.4vw Gilroy, Roboto, arial, helvetica, sans-serif;
    white-space: nowrap;
    padding: 0 0.6vw;
    color: #585858;
    margin: 2.2vw 0.6vw 2vw 1vw;
    text-decoration: none;
    transition: opacity 0.5s;
  }

  .menu__item_btn {
    font: 800 1.4vw/2vw 'montserrat', arial, helvetica, sans-serif;
    color: #fff;
    background: #330099;
    padding: 0.8vw 2.1vw 0.6vw 2vw;
    margin: 1vw 8vw 1vw 1.7vw;
    text-decoration: none;
    border-radius: 3.2vw;
  }

  .container {
    background: no-repeat url(img/imgnout.jpg);
    padding: 8.3vw 0 10.6vw 100vw;
    background-size: cover;
  }

  .container__title {
    font: 900 2.8vw/3.5vw 'montserrat', arial, helvetica, sans-serif;
    margin: 2.5vw 9vw 0 -46.2vw;
    text-align-last: end;
  }

  .container__subtitle {
    font: bold 2.1vw/2.4vw 'montserrat', arial, helvetica, sans-serif;
    color: #fff;
    margin: 0.6vw 8.9vw 0 -32.9vw;
    text-align-last: end;
  }

  .section {
    width: 100%;
    background: #F9F9F9;
  }

  .section__title_what {
    font: 900 2.1vw/2.4vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    margin-bottom: 3vw;
    padding-top: 6.3vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .section__advantage_column {
    columns: 3;
    column-gap: 4vw;
    margin: 0 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .advantage-heart {
    background: 9.2vw 0.4vw no-repeat url(img/imgicon1.svg);
  }

  .advantage-title_heart {
    font: 900 2.1vw/2.7vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    margin: 8.3vw 1.1vw 0 1vw;
    text-align: center;
  }

  .advantage-subtitle_heart {
    font: 500 1.4vw/1.7vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    margin: 0.8vw 2vw 0 1vw;
    text-align: center;
  }

  .advantage-price {
    background: 10.2vw 0.5vw no-repeat url(img/imgicon2.svg);
  }

  .advantage-title_price {
    font: 900 2.1vw/2.7vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    margin: 8.3vw 6vw 2vw 7vw;
    text-align: center;
    justify-content: flex-start;
    display: flex;
  }

  .advantage-subtitle_price {
    font: 500 1.4vw/1.6vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    margin: 2vw 0.1vw 1vw 1.9vw;
    text-align: center;
    justify-items: center;
    align-items: center;
    display: flex;
  }

  .advantage-good {
    background: 10.5vw 0.5vw no-repeat url(img/imgicon3.svg);
  }

  .advantage-title_good {
    font: 900 2.1vw/2.7vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    margin: 8.4vw 6vw 0 6.5vw;
    text-align: center;
  }

  .advantage-subtitle_good {
    font: 500 1.4vw/1.7vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    margin: 0.5vw 1vw 0vw 1.4vw;
    text-align: center;
  }

  .advantage-btn_les {
    display: flex;
    font: 800 1.4vw/1.8vw 'montserrat', arial, helvetica, sans-serif;
    color: #fff;
    background: #330099;
    padding: 1.3vw 2.2vw 1.3vw 2.2vw;
    margin: 5.1vw 38vw 6vw 38vw;
    text-decoration: none;
    border-radius: 3.2vw;
    justify-content: center;
    align-items: flex-start;
  }

  .section__skills_img {
    background: 9vw 12.6vw no-repeat url(img/img1.svg);
    background-color: white;
  }

  .skills__title {
    font: 900 2.1vw/2.5vw 'montserrat', arial, helvetica, sans-serif;
    text-align: center;
    color: #585858;
    margin: 0.1vw 2.8vw 0.7vw;
    padding-top: 6.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills__title_comp {
    font: 600 2.08vw/2.6vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    text-align: -webkit-left;
    margin: 3.8vw 37vw 0 23vw;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .skills__subtitle_comp {
    font: 500 1.37vw/1.7vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    margin: 0.6vw 46vw 5vw 23.2vw;
    text-align: -webkit-left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .section__skills_js {
    background: 78.8vw 0.4vw no-repeat url(img/img2.svg);
  }

  .skills__title_js {
    font: 600 2.09vw/2.5vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    text-align: end;
    margin: 5.3vw 23.1vw 0 38.4vw;
    padding: 2.1vw 0vw 0.3vw 0vw;
  }

  .skills__subtitle_js {
    font: 500 1.39vw/1.9vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    margin: 0 22.9vw 2.2vw 46vw;
    padding: 0 0 1.6vw 0;
    text-align: end;
  }

  .section__skills_react {
    background: 9vw 0vw no-repeat url(img/img3.svg);
  }

  .skills__title_react {
    font: 600 2.1vw/2.6vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    text-align: -webkit-left;
    margin: 5.3vw 41vw 0 23vw;
    padding-top: 0.8vw;
  }

  .skills__subtitle_react {
    font: 500 1.4vw/1.7vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
    margin: 0.5vw 50vw 0.4vw 23vw;
    padding-bottom: 6.8vw;
    text-align: -webkit-left;
  }

  .article {
    background: 43.4vw 9vw rgba(51, 0, 153, 0.12) no-repeat url(img/img4.svg);
    width: 100%;
    padding-bottom: 0.1vw;
  }

  .form__title {
    font: 900 2.1vw/2.9vw 'montserrat', arial, helvetica, sans-serif;
    text-align: center;
    color: #585858;
    margin: 0vw 41vw 0vw 40vw;
    padding-top: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form__subtitle {
    font: 600 1.39vw/1.6vw 'montserrat', arial, helvetica, sans-serif;
    text-align: center;
    color: #585858;
    margin: 18vw 37vw 0.7vw 37vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form__btn_name,
  .form__btn_namber,
  .form__btn_email {
    display: flex;
    background: #fff;
    padding: 1.6vw 1.1vw 1.2vw 3vw;
    margin: 2.8vw 39.6vw -0.7vw 39.6vw;
    text-decoration: none;
    border-radius: 3.2vw;
  }

  .input {
    border: 0vw;
    outline: none;
    font: 600 1vw/1.3vw 'montserrat', arial, helvetica, sans-serif;
    color: #585858;
  }

  .form__item_send {
    display: flex;
    font: 900 1.44vw/1.6vw 'montserrat', arial, helvetica, sans-serif;
    color: #fff;
    background: #4ab272;
    padding: 1.9vw 6.4vw 1.7vw 6.2vw;
    margin: 3.3vw 39.4vw 4vw 39.4vw;
    text-decoration: none;
    border-radius: 3.2vw;
  }

  .footer {
    background: #330099;
    width: 100%;
  }

  .footer__txt_title {
    display: flex;
    font: 400 1.4vw/1.7vw Roboto, arial, helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding-top: 4.4vw;
    justify-content: center;
  }

  .footer__txt_school {
    display: flex;
    font: 400 1.4vw/1.4vw Roboto, arial, helvetica, sans-serif;
    color: #fff;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding-left: 0;
    padding-top: 5.4vw;
    padding-bottom: 4vw;
  }

  .social__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7vw;
    padding-top: 1.3vw;
    flex-direction: row;
  }

  .social__linkedin,
  .social__instagram,
  .social__facebook {
    display: flex;
    margin: 0;
  }

  .social__mob,
  .menu__box,
  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 1270px) {

  .section {
    width: 100%;
    background: #F9F9F9;
  }

  .advantage-heart {
    background: 9vw 0vw no-repeat url(img/heart.jpg);
  }

  .advantage-price {
    background: 9vw 0vw no-repeat url(img/pig.png);
  }

  .advantage-good {
    background: 9vw 0vw no-repeat url(img/medal.png);
  }

  .section__skills_img {
    background: 9.4vw 19vw no-repeat url(img/4.png);
    background-color: white;
    padding-top: 7vw;
  }

  .section__skills_js {
      background: 78.8vw 0.3vw no-repeat url(img/2.png);
  }

  .section__skills_react {
    background: 9vw 0vw no-repeat url(img/1.png);
  }

  .article {
    background: rgba(51, 0, 153, 0.12) 46.2vw 10vw no-repeat url(img/3.png);
    width: 100%;
  }

  .footer {
    background: #330099;
    width: 100%;
  }

  .social__mob {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7vw;
  }

  .footer__txt_school {
    margin: 0;
    padding-left: 0;
    padding-top: 3.4vw;
    padding-bottom: 3vw;
  }

  .social__icon {
    display: none;
  }
}

@media (max-width: 320px) {
.skills__title_js,
.skills__subtitle_js,
.skills__title_react,
.skills__subtitle_react,
.menu__item,
.social__linkedin,
.social__instagram,
.social__facebook {
  display: none;
}

.menu {
  display: flex;
  text-align: center;
  margin: 2.6vw 23vw 5.5vw 4.9vw;
  padding: 0;
}

.menu__item_btn {
  display: inline-block;
  font: 800 2.43vw/3vw 'montserrat', arial, helvetica, sans-serif;
  color: #fff;
  background: #330099;
  padding: 1.5vw 3vw 1.8vw 3.8vw;
  margin: 2.3vw 0 0 50.5vw;
  text-decoration: none;
  border-radius: 3vw;
}

.container {
  background: no-repeat url(img/imgmob.svg);
  padding: 8.1vw 5vw 36.1vw 15.3vw;
  text-align: -webkit-center;
  background-size: cover;
}

.container__title {
  font: 900 6.2vw/7.7vw 'montserrat', arial, helvetica, sans-serif;
  text-align: center;
  margin: 0vw;
  padding: 0 5vw 0 4vw;
}

.container__subtitle {
  font: bold 5.2vw/6.3vw 'montserrat', arial, helvetica, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0 2vw 0 16vw;
}

.section {
  background: #f9f9f9;
  width: 100%;
}

.section__title_what {
  font: 900 4.9vw/6vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0vw 23vw 0vw 24vw;
  padding-top: 15vw;
}

.section__advantage_column {
  width: 100%;
  display: inline;
}

.advantage-heart {
  background: 41vw 5vw no-repeat url(img/heart.jpg);
}

.advantage-title_heart {
  font: 900 4.9vw/7vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0vw 24vw 0vw 24vw;
  padding-top: 23vw
}

.advantage-subtitle_heart {
  font: 500 5.1vw/6.4vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0vw 7vw 11vw 6vw;
}

.advantage-price {
  background: 42vw 0vw no-repeat url(img/pig.png);
}

.advantage-title_price {
  font: 900 5vw/6.4vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 0 17vw 0 17vw;
  padding: 18vw 17vw 0;
}

.advantage-subtitle_price {
  font: 500 4.9vw/6vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  text-align: center;
  margin: 1.5vw 8.5vw 0 8.5vw;
}

.advantage-good {
  background: 41vw 1vw no-repeat url(img/medal.png);
}

.advantage-title_good {
  font: 900 5vw/6vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 10vw 17vw 0 18vw;
  padding: 20vw 7vw 0vw 7vw;
}

.advantage-subtitle_good {
  font: 500 5vw/6.4vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  text-align: center;
  margin: 1vw 15vw 0vw 15vw;
  padding: 0vw;
}

.advantage-btn_les {
  display: inline-block;
  font: 800 4.9vw/4.4vw 'montserrat', arial, helvetica, sans-serif;
  color: #ffda45;
  background: #330099;
  text-decoration: none;
  border-radius: 8.2vw;
  margin: 5vw 9vw 14.5vw 9vw;
  padding: 5.9vw 5.3vw 5.9vw 7vw;
}

.skills__title {
  font: 900 16px/20px 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 11vw 34vw 0vw 34vw;
}

.skills__title_comp {
  font: 600 5vw/6.4vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  text-align: center;
  margin: 69vw 14vw 0 13vw;
}

.skills__subtitle_comp {
  font: 500 4.3vw/5.4vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  text-align: center;
  margin: 2vw 23vw 0vw 21vw;
  padding-bottom: 31vw;
}

.section__skills_img {
  background: 22.4vw 28.2vw no-repeat url(img/JPG4.png);
  background-color: white;
  padding-top: 0.1vw;
}

.skills__comp {
  background: 38.4vw 58.2vw no-repeat url(img/scroll.png);
}

.article {
  background: rgba(51, 0, 153, 0.12) 23vw 22vw no-repeat url(img/img4.svg);
  width: 100%;
}

.form__title {
  font: 900 5vw/6.1vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  display: flex;
  margin: 0 27vw 0 27vw;
  padding-top: 10vw;
}

.form__subtitle {
  font: 600 5vw/6.4vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  margin: 69.5vw 12vw 6vw;
}

.form__btn_name,
.form__btn_namber,
.form__btn_email {
  display: block;
  font: 600 3vw/4vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
  background: #fff;
  margin: 7.3vw 9vw -1.7vw 10vw;
  padding: 4.9vw 7vw 3.9vw 7vw;
  text-decoration: none;
  border-radius: 8.2vw;
}

.input {
  border: 0;
  outline: none;
  font: 600 3.1vw/3.9vw 'montserrat', arial, helvetica, sans-serif;
  color: #585858;
}

.form__item_send {
  display: flex;
  font: 900 4.9vw/6.9vw 'montserrat', arial, helvetica, sans-serif;
  color: #fff;
  background: #4ab272;
  margin: 11.9vw 9vw 9vw 10vw;
  padding: 5vw 22vw 5vw 26vw;
  text-decoration: none;
  border-radius: 8.2vw;
}

.footer {
  background: #330099;
  width: 100%;
}

.footer__txt_title {
  font: 500 4.4vw/4.9vw Roboto, arial, helvetica, sans-serif;
  color: #fff;
  margin: 0.1vw 9vw;
  padding: 10vw 14vw 0.1vw 13vw;
  text-align: center;
}

.footer__txt_school {
  display: block;
  font: 500 4.4vw/9.9vw Roboto, arial, helvetica, sans-serif;
  color: #fff;
  margin: 8vw 25vw 0vw 25.6vw;
}

.social__mob {
  margin-top: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24vw;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 4.3vw;
  left: 5vw;
  width: 8.1vw;
  height: 8.1vw;
  margin: 0 0 0 78vw;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2vh;
  background-color: #330099;
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -2.5vw;
}

.menu__btn > span::after {
  content: '';
  top: 2.5vw;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  text-align: center;
  top: 0;
  left: -100%;
  width: 100%;
  height: 73%;
  margin: 0;
  padding: 23.2vw 0;
  background-color: #f7f63abd;
  list-style: none;
  font: 900 18px/26px 'montserrat', arial, helvetica, sans-serif;
  box-shadow: 0.3vw 0 2.5vw rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu__item_box {
  display: block;
  padding: 3.7vw 7.4vw;
  color: #1170a7;
  font: 900 19px/26px 'montserrat', arial, helvetica, sans-serif;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item_box:hover {
  background-color: #cfd8dc;
}

.hamburger-menu {
  display: flex;
}
}
